


<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a href="{% url 'home' %}" class="navbar-brand">Newspaper</a>
    <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="btn-group dropleft">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a href="{% url 'password_change' %}" class="dropdown-item">Change Password</a>
                            <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
                        </div>
                      </div>
                </li>
            </ul>
        {% else %}
            <form action="" class="form-inline ml-auto">
                <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log In</a>
                <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign Up</a>
            </form>
        {% endif %}
    </div>
</nav>